@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

a{
    text-decoration: none;
}
body {
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #000002;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar {
    display: flex;
    margin-right: 10px;
}

.navbar a {
    display: block;
    padding: 20px 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a:hover {
    background: #3f3f3f;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh !important;
    background: url(img/img3.jpg) no-repeat center;
    background-size: cover;
}

.title {
    margin-bottom: 40px;
    font-size: 120px;
    font-weight: 600;
    text-transform: uppercase;
    color: #1453db;
    -webkit-text-stroke: 3px black;
}

.title2 {
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    color: #1453db;
}

.title3 {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    color: #1453db;
}

p {
    margin-bottom: 40px;
    font-size: 18px;
    color: #000002;
    padding: 0 100px;
}

.content {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.box-container .box {
    height: 11rem;
    width: 17rem;
    background: #cecece;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .1rem 1rem rgba(255, 255, 255, 0.418);
    margin: 2rem;   
}

.box-container .box h3 {
    font-size: 20px;
    color: #000002;
}

.box-container .box p {
    padding: 0 15px;
    font-size: 18px;
}

.about {
    background: #171717;
}

.price {
    padding: 10% 0 0 0;
    background-color: #000002;
    background-attachment:fixed;
    background-size: cover;
    text-align: center;
    height: auto;
    min-height:14cm;
}

.contact {
    height: 30vh !important;
    background: #000002;
}

.title3:hover{
    background: #3f3f3f;
}

@media (max-width: 800px) {
    .title {
        font-size: 80px;
    }
}